################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Concurrency-in-CSharp-Cookbook/FileContentIndex/7dec0907-c90b-4977-8a86-7c9912e436d0.vsidx
/.vs/Concurrency-in-CSharp-Cookbook/FileContentIndex/7e2583a7-889c-47c7-b459-504248c0c98b.vsidx
/.vs/Concurrency-in-CSharp-Cookbook/FileContentIndex/8f9ecc0c-0e00-4b11-9f7d-db35eb50906b.vsidx
/.vs/Concurrency-in-CSharp-Cookbook/FileContentIndex/23d92b2c-9608-44d9-98f4-2f281e021dba.vsidx
